.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ion-card {
  margin: 12px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid var(--ion-color-light);
  font-size: 1.2rem;
  color: var(--ion-color-success);
}
