.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  ion-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  ion-item {
    margin-bottom: 1rem;
  }
}
